body {
	background-color: #f0f0f0;
	height: 100%;
}

.wrapper {
	max-width: 800px;
	margin: 0 auto;
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
	margin-bottom: 20px;
}